{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "rules": {},
  "overrides": [
    {
      "customSyntax": "@stylelint/postcss-css-in-js",
      "files": ["**/*.tsx"],
      "rules": {
        "no-empty-source": null,
        "no-empty-first-line": null,
        "value-keyword-case": null,
        "function-no-unknown": null
      }
    }
  ]
}
